@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  margin-block: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: #0ccac4;
  border-radius: 100vw;
}

@supports (scrollbar-color: #0ccac4 #fff {
  * {
    scrollbar-color: #0ccac4 #fff;
    scrollbar-width: thin;
  }
}
